<?xml version="1.0"?>
<launch>
  <arg name="num_samples_pos" default="200" />
  <arg name="num_samples_vel" default="1000" />
  <arg name="chain_start" default="base" />
  <arg name="chain_end" default="right_hand" />
  <arg name="timeout" default="0.005" />
  <arg name="urdf_param" default="/robot_description" />
  <arg name="load_robot_description" default="true"/>
  <arg name="random_position_seed" default="false"/>
  <arg name="close_position_seed" default="false"/>

  <param if="$(arg load_robot_description)" name="$(arg urdf_param)"
    command="cat $(find baxter_description)/urdf/baxter.urdf"/>
  <rosparam command="load" ns="$(arg urdf_param)_planning"
    file="$(find sns_ik_examples)/config/example_baxter_joint_limits.yaml" />

  <node name="sns_ik_tests" pkg="sns_ik_examples" type="all_ik_tests" output="screen">
    <param name="num_samples_pos" value="$(arg num_samples_pos)"/>
    <param name="num_samples_vel" value="$(arg num_samples_vel)"/>
    <param name="chain_start" value="$(arg chain_start)"/>
    <param name="chain_end" value="$(arg chain_end)"/>
    <param name="timeout" value="$(arg timeout)"/>
    <param name="urdf_param" value="$(arg urdf_param)"/>
    <param name="random_position_seed" value="$(arg random_position_seed)"/>
    <param name="close_position_seed" value="$(arg close_position_seed)"/>
  </node>

</launch>
