<?xml version="1.0"?>
<!-- Requires the catkin packages intera_common and sawyer_robot -->
<launch>
  <arg name="urdf_param" default="/robot_description" />
  <arg name="load_robot_description" default="true"/>

  <param if="$(arg load_robot_description)" name="$(arg urdf_param)"
      command="$(find xacro)/xacro --inorder $(find sawyer_description)/urdf/sawyer.urdf.xacro
      gazebo:=true electric_gripper:=false
      pedestal:=true static:=true"/>
  <rosparam command="load" ns="$(arg urdf_param)_planning"
    file="$(find sns_ik_examples)/config/example_sawyer_joint_limits.yaml" />

  <include file="$(find sns_ik_examples)/launch/test_ik_solvers.launch">
     <param name="urdf_param" value="$(arg urdf_param)"/>
  </include>
</launch>
